/* Google Fonts Starts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
/* Google Fonts Ends */

/* Utilities Styles Starts */
body {
  font-family: "Poppins", sans-serif;
}
.card-shadow {
  box-shadow: 5px 5px 10px #a9a9aa77, inset -5px -5px 10px #ffffff7e;
  background: #f4fafd;
  border-radius: 15px;
}
.background {
  background-color: #289bde;
}
.text-color {
  color: #289bde;
}
/* .explore {
  background-color: #f4fafd;
} */
/* Utilities Styles Ends */
.slider-info {
  background-color: rgba(0, 0, 0, 0.4);
}
